<?xml version="1.0" encoding="UTF-8"?>


<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.mdl.data" level="info"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.mdl.data" level="debug"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <logger name="com.mdl.data" level="error"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <logger name="org.springframework.web" level="ERROR" />

</configuration>